nav.navbar.navbar-expand-md.navbar-dark.bg-dark.static-top
  .navbar-header
    a.navbar-brand(href='/') Pin-Board
  button.navbar-toggler.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbar.navbar-collapse.collapse
    ul.navbar-nav.mr-auto
      if user
        li(class=(title === 'New Pin') ? 'active' : undefined)
          a.nav-link(href='/new-pin') New Pin
    ul.nav.navbar-nav.navbar-right
      if !user
        li(class=(title === 'Login') ? 'active' : undefined)
          a.nav-link(href='/auth/twitter') Login with Twitter
      else
        li.nav-item.dropdown(class=(title === 'Account Management') ? 'active' : undefined)
          a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
            if user.profile.picture
              img.rounded.mr-2(src=user.profile.picture)
            else
              img.rounded.mr-2(src="")
            span= (user.profile.name || user.email || user.id)
            i.caret
          ul.dropdown-menu
            li
              a.dropdown-item(href='/my-pins') My Pins
            li.divider
            li
              a.dropdown-item(href='/logout') Logout
